{% extends "base.html" %}
{% block content %}
<h1>Edit Ticket #{{ ticket.id }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.status.label }} {{ form.status(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.priority.label }} {{ form.priority(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.assigned_to.label }} {{ form.assigned_to(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
